*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    height: 30vh;
    background-color: #2b2b2b;
    color: #fff;
}
.part9{
    width: 100%;
    padding: 1rem;
    max-width: 428px;
    background-color: #2b2b2b;
}
.part9section{
    display: flex;
    flex-direction: row;
    place-items: center;
    gap: 1rem;
    max-width: 428px;
}
.part9section span{
    color: #fff;
}
.menu-btn{
    margin-left: auto;
}
.signup{
   background-color: blue;
   display: none;
}
.wallet{
  width: 100%;
  background: #2b2b2b;
  border-bottom: 2px solid #7c3aed;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(43, 43, 43, 0.95);
  backdrop-filter: blur(5px);
}
/*part9/*/
/*part10*/
.part10 img{
    width: 100%;
}
.part10{
    max-width: 428px;
}
/*part10*/
/*part11*/
