*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    height: 30vh;
    background-color: #2b2b2b;
    color: #fff;
}
.part9{
    width: 100%;
    padding: 1rem;
    max-width: 428px;
    background-color: #2b2b2b;
}
.part9section{
    display: flex;
    flex-direction: row;
    place-items: center;
    gap: 1rem;
    max-width: 428px;
}
.part9section span{
    color: #fff;
}
.menu-btn{
    margin-left: auto;
}
.signup{
   background-color: blue;
   display: none;
}
.wallet{
  width: 100%;
  background: #2b2b2b;
  border-bottom: 2px solid #7c3aed;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(43, 43, 43, 0.95);
  backdrop-filter: blur(5px);
}
/*part9/*/
/*part10*/
.part10 img{
    width: 100%;
}
.part10{
    max-width: 428px;
}
/*part10*/
/*part11*/
.part11{
    padding: 1.5rem;
    margin: 0;
    max-width: 428px;
}
.input-form{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin: 0;
    place-content: center ;
    width: 100%;
}
.input-form input{
    height: 50px;
    border-radius: 24px;
    border: 1px solid #000;
    width: 100%;
    padding: 12px 16px 12px 44px; /* left padding for icon */
    border-radius: 999px;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: 14px center;
    background-size: 24px;
    color: #fff;
    font-family: serif;
}
.info-user{
     background-image: url(imgefolder/User.png) ;
}
.info-Email{
     background-image: url(imgefolder/EnvelopeSimple.png);
}
.info-Pass{
    background-image: url(imgefolder/LockKey\ \(1\).png);
}
.info-confirm{
    background-image: url(imgefolder/LockKey.png);
    font-size: 2rem;
}
.part11 h2{
    font-family: Candal;
    padding-bottom: 0.6rem;
    font-size: 1.7rem;
    font-weight: 900;
}
.part11 p{
   font-size: 1rem;
   padding-bottom: 1rem;
   font-family: cursive;
}